.form{
    width: 100%;
}

input{
    margin-bottom: 10px;
}


button:first-of-type{
    background-color:rgb(39, 39, 39);
    margin-right:10px;
}

button:first-of-type{
    outline: red;
    border: none;
    box-shadow: none;
    width: 200px;
}